@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'JetBrainsMono-Regular';
		src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'JetBrainsMono-Bold';
		src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}
	body {
		@apply bg-backgroundAlt text-foreground font-jetbrainsMonoRegular;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-jetbrainsMonoBold text-heading text-lg;
	}

	p {
		@apply text-sm;
	}	

	a {
		@apply text-link hover:text-linkHover;
	}
}