---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, SITE_PROJECTS } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="flex flex-col gap-4 p-6">
			<section>
				<h3>INTRODUCTION</h3>
				<p>
					Halo! Saya Dani, pengembang web yang selalu ingin belajar dan menciptakan solusi digital inovatif. Di sini Anda akan menemukan karya terbaik saya yang menggabungkan fungsionalitas dan estetika. Saya selalu siap untuk mengubah ide-ide kreatif menjadi aplikasi web yang menakjubkan. Tertarik berkolaborasi atau ingin tahu lebih banyak? Ayo kita bicarakan!
				</p>
			</section>
			<section>
				<h3>ABOUT ME</h3>
				<p>
					Ketertarikan saya pada teknologi sudah ada sejak remaja, namun perjalanan pemrograman saya yang sebenarnya dimulai pada tahun 2015 dengan JavaScript. Sebagai pengembang otodidak, saya memperoleh keterampilan saya melalui kontribusi sumber terbuka, serta membaca berbagai dokumentasi proyek dan posting blog.
				</p>
			</section>
			<section>
				<h3>PROJECTS</h3>
				<p>Jelajahi Projects terbaru saya di sini:</p>
				<ul class="list-disc pl-4 pt-2">
					{SITE_PROJECTS.map((project) => (
						<li>
							<a href={project.link}>{project.title}</a>
						</li>
					))}
				</ul>
			</section>
			<section>
				<h3>EXPERIENCE</h3>
				<p>
					Pengalaman pengembang saya dimulai saat seorang wiraswasta mempekerjakan saya untuk membuat sebuat website market yang berfokus pada fasion. Selama 5 tahun saya memaintence menggunakan HTML, CSS, dan JavaScript.
				</p>
			</section>
			<section>
				<h3>INTERESTS</h3>
				<p>
					Di luar pekerjaan, saya senang bepergian, menulis blog dan membaca fiksi, terutama karya bergenre Teknologi, Science Fiction, dan Fantasy.
				</p>
			</section>
			<section>
				<h3>SOCIAL</h3>
				<p>
					Anda dapat terhubung dengan saya di eMail, <a class="underline" href="#">GitHub</a> dan <a class="underline" href="#">LinkedIn</a>.
				</p>
			</section>
		</main>
		<Footer />
	</body>
</html>