---
import Layout from "../layouts/Layout.astro";

type Post = {
	id: number;
	title: string;
	body: string;
}

type Project = {
	id: number;
	todo: string;
}

const getPosts = await fetch('https://dummyjson.com/posts?limit=5&skip=5')
const postsJson = await getPosts.json()
const { posts } = postsJson as { posts: Post[] }

const getProjects = await fetch('https://dummyjson.com/todos/random/5')
const projects: Project[] = await getProjects.json()
---

<Layout title="Dani S">
	<main class="flex flex-col gap-6 px-6">
		<section class="py-6">
			<p class="text-2xl">
				Hi, This is my website. Where I host blogs and projects.
			</p>
		</section>
		<section class="flex flex-col gap-3">
			<h2 class="font-semibold text-2xl">Blogs</h2>
			<ul class="list-decimal pl-4 flex flex-col gap-2">
				{posts.map(post => {
					return (
						<li>
							<a href={`/blog/${post.id}`}>{post.title}</a>
						</li>
					)
				})}
			</ul>
		</section>

		<section class="flex flex-col gap-3">
			<h2 class="font-semibold text-2xl">Projects</h2>
			<ul class="list-disc pl-4">
				{projects.map(project => {
					return (
						<li>
							<a href={`/project/${project.id}`}>{project.todo}</a>
						</li>
					)
				})}
			</ul>
		</section>

		<section class="flex flex-col gap-3">
			<h2 class="font-semibold text-2xl">Links</h2>
			<ul>
				<li>
					<a href="/">GitHub</a>
				</li>
				<li>
					<a href="/">LinkedIn</a>
				</li>
			</ul>
		</section>
	</main>
</Layout>
