---
import MainLayout from '../layouts/MainLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<Header />
	<main class="flex flex-col gap-8 px-6">
		<section class="mt-12">
			<p>Welcome to my digital playground! As a passionate Web Developer, I craft interactive websites and explore cutting-edge technologies. This blog is where I share insights on web development, UX design, and my latest projects. Join me on this exciting journey as we push the boundaries of the web together. Get ready to be inspired and level up your dev skills!</p>
		</section>

		<section>
			<h2>Latest Articles</h2>
			<ul>
				<li>
					<a href="/articles/my-first-article">My First Article</a>
				</li>
			</ul>
		</section>

		<section>
			<h2>Latest Projects</h2>
			<ul>
				<li>
					<a href="/projects/my-first-project">My First Project</a>
				</li>
			</ul>
		</section>

		<section>
			<h2>My Links</h2>
			<ul>
				<li>
					<a href="https://github.com/joseph-m-dev">GitHub</a>
				</li>
			</ul>
		</section>

		<section>
			<h2>Contact Me</h2>
			<ul>
				<li>
					<a href="mailto:joseph@josephm.dev">Email</a>
				</li>
			</ul>
		</section>
	</main>
	<Footer />
</MainLayout>
