---
import { Icon } from "astro-icon/components";
---

<header class="sticky top-0 right-0 left-0 flex justify-between items-center py-3 px-6 shadow bg-zinc-50/55 backdrop-blur">
	<a href="/">
		<h1 class="text-2xl font-bold">Dani S</h1>
	</a>
		<nav class="menu hidden fixed top-14 right-6 py-3 px-6 rounded bg-zinc-50 text-zinc-800 shadow">
			<ul class="flex flex-col gap-4">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/blog">Blog</a>
				</li>
				<li>
					<a href="/projects">Projects</a>
				</li>
			</ul>
		</nav>
		<div class="flex items-center gap-4">
			<button class="btn-theme text-2xl">
				<Icon name="material-symbols-light:light-mode" />
			</button>
			<button class="btn-menu text-3xl">
				<Icon name="material-symbols-light:menu" />
			</button>
		</div>
</header>

<script lang="ts">
	const menu = document.querySelector(".menu");
	const btnMenu = document.querySelector(".btn-menu");
	const btnTheme = document.querySelector(".btn-theme");

	btnMenu?.addEventListener("click", () => {
		menu?.classList.toggle("hidden");
	});

	btnTheme?.addEventListener("click", () => {
		if (localStorage.getItem("theme") === "light") {
			localStorage.setItem("theme", "dark");
			document.querySelector('html').classList.add('dark');
			document.querySelector('html').classList.remove('light');
		} else if (localStorage.getItem("theme") === "dark") {
			localStorage.setItem("theme", "light");
			document.querySelector('html').classList.add('light');
			document.querySelector('html').classList.remove('dark');
		}
	});
</script>